.container{height:355px;}
.container--video-institucional{
    height:509px;
    margin-bottom:30px;
}
.container--form-institucional{
    height:1700px;
    margin-bottom:30px;
    width: 82%;
    overflow-x:hidden;
}
.container--form-institucional-atacado{height: 2700px;}
/* MOBILE */
@media screen and (max-width: 1025px) {
    .container{height:213px;}
    .container--form-institucional{
        height:2350px;
        margin-bottom:0;
        width: 100%;
        overflow-x:hidden;
    }
    .container--form-institucional-atacado{
        height: 3050px;
        width: 100%;
        margin-bottom: 0;
        overflow-x: hidden;
    }
}