.content{
    overflow:hidden;
}
.content--hidden{
    height:0;
    transition:.5s ease all;
}
.content--visible{
    height:fit-content;
    transition:.5s ease all;
    border-top: none;
}
.trigger{
    background-color:transparent;
    border: none;
    border-top:1px solid #DFDFDF;
    width:100%;
    cursor:pointer;
    margin:0;
    padding:16px 0;
    text-align:left;
    position:relative;
}
.trigger::after{
    content:"";
    display:block;
    width:10px;
    height:6px;
    background:url(assets/arrow-down.png) no-repeat center transparent;
    position:absolute;
    top:21px;
    right:0;
}
.trigger--visible::after{
    transform:rotate(180deg);
}
:global(.vtex-flex-layout-0-x-flexRowContent--product-accordion) .trigger{border-color:#466d5b;}
/* MOBILE */
@media screen and (max-width: 1025px) {
    .content--footer-mobile{padding-bottom:20px;}
    .content--footer-mobile :global(.vtex-menu-2-x-styledLinkContainer){
        margin:0;
        padding:5px 0;
    }
    .content--footer-mobile :global(.vtex-menu-2-x-styledLinkContent){
        font-size:12px;
    }
    :global(.vtex-flex-layout-0-x-flexRowContent--product-accordion) .trigger{
        border-top: none;
    }
}