.sendMessageButton {
    justify-content: center;
    visibility: hidden;
}

.messageInput {
    width: 100%;
    max-width: 1150px;
    min-width: 100%;
    max-height: 80px;
    min-height: 80px;
}

.saveButton {
    margin-top: 8px;
    background-color: #466d5b;
    color: #fff;
    border: 1px solid #000;
    font-family: "rubrik-new", sans-serif;
    font-size: 10px;
    text-transform: uppercase;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;

    .messageTitle {
        font-family: "Rubrik New";
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #000000;
    }
}

.removeButton {
    background: transparent;
    border: none;
    text-decoration: underline;
}

.activeMessage {
    background-color: #466d5b;
    color: white;
}

.checkout__specialButton--active + .sendMessageButton {
    visibility: visible;
}

.disabledButton {
    background: gray;
    color: white;
    cursor: not-allowed;
}

.checkout__specialButton.mobileMessageButton {
    margin: 0 0 12px 0;
}

.checkout__specialButton--bag {
    @media (max-width: 640px) {
        margin-bottom: 12px !important;
    }
}
