.imageMapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0;
}

@media screen and (min-width: 1026px){
    .imageMapper{
        margin: 60px 0;
    }
}

.imageMapperHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0 30px 0;
    position: relative;
}

@media screen and (min-width: 1026px){
    .imageMapperHeader{
        margin: 0 0 40px 0;
    }
}


.imageMapperHeaderGoBack{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    color: #466D5B;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    font-family: "alternative";
    width: 100%;
}

@media screen and (min-width: 1026px){
    .imageMapperHeaderGoBack{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: auto;

        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (max-width: 1025px){
    .imageMapperHeaderGoBack{
        order: 2;
    }
}



.imageMapperHeaderGoBack:before{
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='512' height='512' x='0' y='0' viewBox='0 0 240.823 240.823' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cg%3E%3Cpath id='Chevron_Right' d='M57.633,129.007L165.93,237.268c4.752,4.74,12.451,4.74,17.215,0c4.752-4.74,4.752-12.439,0-17.179 l-99.707-99.671l99.695-99.671c4.752-4.74,4.752-12.439,0-17.191c-4.752-4.74-12.463-4.74-17.215,0L57.621,111.816 C52.942,116.507,52.942,124.327,57.633,129.007z' fill='%23466D5B' %3E%3C/path%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    width: 7px;
    height: 7px;
    margin-right: 6px;
    position: relative;
    top: 1px;
}

@media screen and (min-width: 1026px){
    .imageMapperHeaderGoBack:before{
        width: 9px;
        height: 9px;
    }
}


.imageMapperHeaderTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    color: #262626;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0 0 20px 0;
}

@media screen and (min-width: 1026px){
    .imageMapperHeaderTitle{
        font-size: 26px;
        line-height: 32px;
        margin: 0;
    }
}


@media screen and (max-width: 1025px){
    .imageMapperHeaderTitle{
        order: 1;
    }
}



.imageMapperArea{
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 30;
    user-select: none;
}

@media screen and (min-width: 1026px){
    .imageMapperArea{
        margin: 0;
        max-width: 500px;
        max-height: 750px;
    }
}

.imageMapperAreaSeeInfo{
    position: absolute;
    top: 3px;
    right: 3px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    padding: 8px;
    cursor: pointer;
}

@media screen and (min-width: 1026px){
    .imageMapperAreaSeeInfo{
        /* display: none; */
    }
}


.imageMapperAreaSeeInfoIcon{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='512' height='512' x='0' y='0' viewBox='0 0 23.625 23.625' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cpath style='' d='M11.812,0C5.289,0,0,5.289,0,11.812s5.289,11.813,11.812,11.813s11.813-5.29,11.813-11.813 S18.335,0,11.812,0z M14.271,18.307c-0.608,0.24-1.092,0.422-1.455,0.548c-0.362,0.126-0.783,0.189-1.262,0.189 c-0.736,0-1.309-0.18-1.717-0.539s-0.611-0.814-0.611-1.367c0-0.215,0.015-0.435,0.045-0.659c0.031-0.224,0.08-0.476,0.147-0.759 l0.761-2.688c0.067-0.258,0.125-0.503,0.171-0.731c0.046-0.23,0.068-0.441,0.068-0.633c0-0.342-0.071-0.582-0.212-0.717 c-0.143-0.135-0.412-0.201-0.813-0.201c-0.196,0-0.398,0.029-0.605,0.09c-0.205,0.063-0.383,0.12-0.529,0.176l0.201-0.828 c0.498-0.203,0.975-0.377,1.43-0.521c0.455-0.146,0.885-0.218,1.29-0.218c0.731,0,1.295,0.178,1.692,0.53 c0.395,0.353,0.594,0.812,0.594,1.376c0,0.117-0.014,0.323-0.041,0.617c-0.027,0.295-0.078,0.564-0.152,0.811l-0.757,2.68 c-0.062,0.215-0.117,0.461-0.167,0.736c-0.049,0.275-0.073,0.485-0.073,0.626c0,0.356,0.079,0.599,0.239,0.728 c0.158,0.129,0.435,0.194,0.827,0.194c0.185,0,0.392-0.033,0.626-0.097c0.232-0.064,0.4-0.121,0.506-0.17L14.271,18.307z M14.137,7.429c-0.353,0.328-0.778,0.492-1.275,0.492c-0.496,0-0.924-0.164-1.28-0.492c-0.354-0.328-0.533-0.727-0.533-1.193 c0-0.465,0.18-0.865,0.533-1.196c0.356-0.332,0.784-0.497,1.28-0.497c0.497,0,0.923,0.165,1.275,0.497 c0.353,0.331,0.53,0.731,0.53,1.196C14.667,6.703,14.49,7.101,14.137,7.429z' fill='%23466D5B' %3E%3C/path%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 12px;
    height: 12px;
    display: block;
    margin-right: 5px;
}

.imageMapperAreaSeeInfoText{
    font-size: 14px;
    font-weight: 500;
    color: #466D5B;

    display: flex;
    align-items: center;
    justify-content: center;
    white-space: break-spaces;
}

.imageMapperAreaSeeInfoTextPrefixHide{
    display: none;
}


.imageMapperAreaImg{
    display: block;
    width: 100%;
}


.imageMapperAreaItemContainer{
    position: absolute;
}

@keyframes imageMapperPulse {
	0% {
        opacity: 1;
		transform: scale(.75);
	}

	50% {
        opacity: 1;
		transform: scale(1.5);
        box-shadow: 0 0 0 1px #FFFFFF;
	}

	100% {
        opacity: 1;
		transform: scale(.75);
	}
}

.imageMapperAreaItem{
    width: 46px;
    height: 46px;
    background: #00000042;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    cursor: pointer;
    z-index: 10;

    animation: imageMapperPulse 1.5s 3;
    opacity: 0;

    /* border: 1px solid #FFFFFF */
}

@media screen and (max-width: 1025px){
    .imageMapperAreaItem{
        border: 1px solid #FFFFFF80
    }
}


@media screen and (max-width: 1025px){
    .imageMapperAreaItem{
        border: 1px solid #FFFFFF
    }
}


@media screen and (min-width: 1026px){
    .imageMapperArea:hover .imageMapperAreaItem{
        opacity: 1;
    }
}

.imageMapperArea.imageMapperAreaSeeMore .imageMapperAreaItem{
    opacity: 1;
}

.imageMapperArea.imageMapperAreaSeeMore .imageMapperAreaSeeInfoTextPrefixSee{
    display: none;
}

.imageMapperArea.imageMapperAreaSeeMore .imageMapperAreaSeeInfoTextPrefixHide{
    display: block;
}

.siteEditor .imageMapperAreaItem{
    opacity: 1 !important;
}

.imageMapperAreaItem::after{
    content: "";
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background: #FFFFFF;
    display: block;
    transition: .3s;
}

.imageMapperContent .imageMapperProduct.imageMapperProductHover{
    /* border-color: #abc380 !important;
    background: #abc3802e !important; */
}

.imageMapperAreaItemActive{
    transform: scale(1.1);
    z-index: 20;
}


.imageMapperAreaItemOpen{
    overflow: visible;
}


@media screen and (min-width: 1026px){
    .imageMapperAreaItemOpen::before{
        content: "";
        background: transparent;
        height: 50px;
        width: 150px;
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -10px;
        z-index: 1000;
    }
}

.imageMapperAreaItemContainer .imageMapperProduct{
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    z-index: 30;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 !important;
    padding: 13px;
    width: max-content;
}

@media screen and (min-width: 1026px){
    .imageMapperAreaItemContainer .imageMapperProduct{
        left: 50%;
    }
}

.imageMapperAreaItemOpen .imageMapperProduct{
    opacity: 1;
    visibility: visible;
    box-shadow: 0px 0px 3px 6px #00000029;
}

.imageMapperAreaItem .imageMapperProduct:before{
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    top: -20px;
    left: 0;
    background-color: transparent;
}

.imageMapperAreaItemOpen .imageMapperProduct::after {
    content: "";
    position: absolute;
    top: calc(0% - 19px);
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #FFFFFF transparent;
    z-index: 10;
}

.imageMapperAreaItemOpen .imageMapperProduct.imageMapperProductLeft::after {
    left: 0;
    transform: initial;
}

@media screen and (min-width: 1026px){
    .imageMapperAreaItemOpen .imageMapperProduct.imageMapperProductLeft::after {
        left: 5px;
    }
}

.imageMapperAreaItemOpen .imageMapperProduct.imageMapperProductRight::after {
    left: auto;
    right: 0;
    transform: initial;
}

@media screen and (min-width: 1026px){
    .imageMapperAreaItemOpen .imageMapperProduct.imageMapperProductRight::after {
        right: 5px;
    }
}

.imageMapperAreaItemOpen .imageMapperProduct.imageMapperProductBottom::before {
    top: auto;
    bottom: -20px;
}

.imageMapperAreaItemOpen .imageMapperProduct.imageMapperProductBottom::after {
    top: auto;
    border-color: #FFFFFF transparent transparent transparent;
    bottom: calc(0% - 19px);
}


.imageMapperAreaItemContainer .imageMapperProductInfo{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.imageMapperAreaItemContainer .imageMapperProductImage{
    width: 0;
    height: 0;
    min-width: 0;
    min-height: 0;
}

@media screen and (max-width: 360px){
    .imageMapperAreaItemContainer .imageMapperProductImage{
        display: none;
    }
}

.imageMapperAreaItemOpen .imageMapperProductImage{
    width: 150px;
    min-width: 150px;

    height: 225px;
    min-height: 225px;

    margin-left: 0;
}

@media screen and (min-width: 1026px){
    .imageMapperAreaItemOpen .imageMapperProductImage{
        width: 150px;
        min-width: 150px;

        height: 225px;
        min-height: 225px;
    }
}

.imageMapperAreaItemOpen .imageMapperProductImg{
    display: block;
}

.imageMapperAreaItemContainer .imageMapperProductContent{
    width: 150px;
}

.imageMapperAreaItemContainer .imageMapperProductName{
    font-weight: 500;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 16px;
    height: 32px;
    width: 100%;
}

@media screen and (min-width: 1026px){
    .imageMapperAreaItemContainer .imageMapperProductName{
        font-size: 12px;
        line-height: 18px;
        height: 36px;
    }
}

.imageMapperAreaItemContainer .imageMapperProductPrice{
    flex: 1;
}

.imageMapperAreaItemContainer .imageMapperProductOldPrice {
    font-size: 9px;
    line-height: 9px;
}

@media screen and (min-width: 1026px){
    .imageMapperAreaItemContainer .imageMapperProductOldPrice {
        font-size: 10px;
        line-height: 10px;
    }
}

.imageMapperAreaItemContainer .imageMapperProductSpotPrice{
    font-size: 15px;
    line-height: 15px;
}

@media screen and (min-width: 1026px){
    .imageMapperAreaItemContainer .imageMapperProductSpotPrice{
        font-size: 16px;
        line-height: 16px;
    }
}

.imageMapperAreaItemContainer .imageMapperProductBuy{
    padding: 3px 0;
    font-size: 11px;
    line-height: 13px;
    min-height: 25px;
}

@media screen and (min-width: 1026px){
    .imageMapperAreaItemContainer .imageMapperProductBuy{
        padding: 5px 0;
        font-size: 13px;
        line-height: 18px;
    }
}

.imageMapperAreaItemContainer .imageMapperProductBuy :global(.vtex__icon-spinner){
    width: 13px;
    height: 13px;
}

.imageMapperAreaItemContainer .imageMapperProductBuy::after {
    width: 18px;
    height: 8px;
    margin-left: 6px;
}

@media screen and (min-width: 1026px){
    .imageMapperAreaItemContainer .imageMapperProductBuy::after {
        width: 22px;
        height: 12px;
        margin-left: 8px;
    }
}


/**/

.imageMapperContent{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
}

@media screen and (min-width: 1026px){
    .imageMapperContent{
        padding: 0 0 0 40px;
        width: calc(100% - 500px);
    }
}

@media screen and (min-width: 1440px){
    .imageMapperContent{
        padding: 0 0 0 40px;
        width: calc(100% - 590px);
    }
}


.imageMapperText{
    font-size: 12px;
    line-height: 18px;
    color: #828282;
    font-weight: 400;
    margin: 0 0 15px 0;
    width: 100%;
}

@media screen and (min-width: 1026px){
    .imageMapperText{
        font-size: 11px;
        line-height: 18px;
    }
}

.imageMapperProducts{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 30px 0 0 0;
}

@media screen and (min-width: 1026px){
    .imageMapperProducts{
        margin: 0;
    }
}


.imageMapperProducts .sliderLeftArrow{
    left: -20px;
}

@media screen and (min-width: 1026px){
    .imageMapperProducts .sliderLeftArrow{
        left: -40px;
    }
}

.imageMapperProducts .sliderRightArrow{
    right: -20px;
}

@media screen and (min-width: 1026px){
    .imageMapperProducts .sliderRightArrow{
        right: -40px;
    }
}


.imageMapperProduct{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    width: 100%;
    max-width: 285px;
    margin: 0;
    position: relative;
    background: #FFFFFF;
    cursor: auto;
}

.slide--visible{
    margin: 0 10px;
}

.imageMapperProductLoading::before{
    content: "";
    background: linear-gradient(100deg, #eceff1 30%, #d9d9d9 50%, #eceff1 70%);
    background-size: 400%;
    animation: loading 1.2s ease-in-out infinite;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
}

@keyframes loading {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
}



.imageMapperProductClose{
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='30' height='30' viewBox='0 0 47.971 47.971' style='enable-background:new 0 0 47.971 47.971;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z'/%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px;
    display: block;
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 0 2px 1px #ddd;
}

.imageMapperProductInput{
    display: none;
}

.imageMapperProductInputContainer{
    min-width: 18px;
    min-height: 18px;
    border: 1px solid #d9d9d9;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 7.5px;
    left: 7.5px;
}

.imageMapperProductInputInner {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    min-width: 14px;
    min-height: 14px;
    cursor: pointer;
    border-radius: 3px;
}

.imageMapperProductInput:checked .imageMapperProductInputInner {
    background: #abc380;
}

.imageMapperProductContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-top: 15px;
}

@media screen and (min-width: 1026px){
    .imageMapperProductContent{
        max-width: 285px;
    }
}

.imageMapperProductName{
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    text-align: left;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 15px;
    text-align: center;
    color: #000000;
    display: block;
    font-weight: 500;

    text-transform: capitalize;
    letter-spacing: 1px;

    font-size: 14px;
    line-height: 18px;
    height: 38px;
}

@media screen and (min-width: 1026px){
    .imageMapperProductName{
        font-size: 17px;
        line-height: 20px;
        height: 40px;
    }
}

.imageMapperProductImage{
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
    transition: .3s;
}

@media screen and (min-width: 1026px){
    .imageMapperProductImage{
        margin: 0;
        min-height: 427px;
    }
}

.imageMapperProductImg{
    display: block;
    width: 100%;
    height: auto;
}

.imageMapperProductInfo{
    width: 100%;
}

@media screen and (min-width: 1026px){
    .imageMapperProductInfo{
        display: block;
    }
}

@media screen and (max-width: 1025px){
    .imageMapperProductInfo{
        display: flex;
        flex-wrap: wrap;
    }
}

.imageMapperProductInfoLeft{}
.imageMapperProductInfoRight{}


.imageMapperProductPrice{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media screen and (min-width: 1026px){
    .imageMapperProductPrice{

    }
}

.imageMapperProductOldPrice{
    font-size: 11px;
    line-height: 11px;
    color: #292929;
    font-weight: 400;
    margin: 0;
    width: auto;
}

@media screen and (min-width: 1026px){
    .imageMapperProductOldPrice{
        font-size: 14px;
        line-height: 14px;
    }
}

.imageMapperProductSpotPrice{
    font-size: 18px;
    line-height: 18px;
    color: #292929;
    font-weight: 500;
    margin: 0 0 0 15px;
    width: auto;
    display: block;
    text-align: center;
}

@media screen and (min-width: 1026px){
    .imageMapperProductSpotPrice{
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 0 15px;
    }
}

.imageMapperProductBuy{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3px 12px;
    margin: 15px 0 0 0;
    user-select: none;
    cursor: pointer;
    transition: .3s;
    min-height: 32px;

    font-weight: 500;

    text-decoration: underline;
    color: #466d5b;
    font-family: "alternative";
    text-transform: none;

    font-size: 14px;
    line-height: 20px;

    text-align: center;
}

@media screen and (min-width: 1026px){
    .imageMapperProductBuy{
        font-size: 16px;
        line-height: 24px;
        padding: 4px 10px;
        min-height: 30px;
    }
}

.imageMapperFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 40px 0 0 0;
    padding: 0;
    flex-wrap: wrap;
    background: #FFFFFF;
}

@media screen and (min-width: 1026px){
    .imageMapperFooter{
        padding: 0;
        width: 100%;
        margin: 48px 0 0 0;
        border: 0;
    }
}

.imageMapperAllProducts{
    width: 100%;
    text-align: center;
}

.imageMapperAllProductsText{
    font-size: 16px;
    line-height: 28px;
    color: #466D5B;
    font-weight: 500;
    margin: 0;
}

@media screen and (min-width: 1026px){
    .imageMapperAllProductsText{
        font-size: 19px;
        line-height: 32px;
    }
}

.imageMapperDiscountFullPrice{

}

.imageMapperDiscountPercent,
.imageMapperDiscountPrice{
    color: #466D5B;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.1em;
    white-space: nowrap;
}

.imageMapperAllProductsBuy{
    background: #466D5B;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: 500;
    text-decoration: none;
    padding: 0 15px;
    margin: 25px 0 0 0;
    flex: 1;
    user-select: none;
    cursor: pointer;
    transition: .3s;
    height: 44px;
    max-width: 385px;
    text-transform: uppercase;
    font-family: "alternative";
}

@media screen and (min-width: 1026px){
    .imageMapperAllProductsBuy{
        font-size: 15px;
        line-height: 22px;
        padding: 7px 15px;
        margin: 25px 0 0 0;
    }
}

.imageMapperAllProductsBuy.imageMapperButtonLoading{
    justify-content: center;
}

.imageMapperAllProductsBuy :global(.vtex-spinner_circle){
    color: #FFFFFF
}

/* Botão Loading */
.imageMapperButtonLoading::after{
    display: none;
}